*{
  padding: 0px;
  margin:0px;
}
.logo{
  width: 20%;
  height: 5%;
}
.slogan{
  width: 100%;
}

.login{
  background: url("./assets/login.png") center no-repeat;
  background-size: 25vw;
  background-position: bottom;
  color:white;
}


@media screen and (max-width:600px) {
.logo{
  width: 80%;
}
.slogan{
  width: 120%;
}

}

@media screen and (min-width:601px) and (max-width:800px) {
  .logo{
    width: 40%;
  }
  .slogan{
      /* font-size: 8px; */
    width: 200%;
  }

  }